{
  "presets": [
    ["@babel/preset-react", { "pragma": "h" }],
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["last 2 versions", "ie > 10"]
      },
      "useBuiltIns": "usage"
    }],
    ["./babel-preset-custom", { "decoratorsLegacy": true }]
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    }
  }
}