{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "16.8.0"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ] // The names of any functions used to wrap the
    // propTypes object, e.g. `forbidExtraProps`.
    // If this isn't set, any propTypes wrapped in
    // a function will be skipped.
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    //"react/jsx-no-bind": 1
    "no-mixed-spaces-and-tabs": 0
  },
  "globals": {
    "__LICENSES__": true,
    "describe": true,
    "test": true,
    "expect": true
  }
}
