{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "settings": {
    "react": {
      "version": "16.8.0"
    },
    "propWrapperFunctions": [ "forbidExtraProps" ] // The names of any functions used to wrap the
    // propTypes object, e.g. `forbidExtraProps`.
    // If this isn't set, any propTypes wrapped in
    // a function will be skipped.
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    //"react/jsx-no-bind": 1
    "react/display-name": 0, // slow
    "react/no-deprecated": 0, // slow
    "react/prop-types": 0, // slow
    "react/require-render-return": 0, // slow
    "react/jsx-uses-react": "off", // jsx transform
    "react/react-in-jsx-scope": "off" // jsx transform
  },
  "globals": {
    "__LICENSES__": true,
    "describe": true,
    "test": true,
    "expect": true
  }
}
