@import '../../assets/variables';

.error {
  color: red;
}

.funcs {
  a {
    flex-basis: 25%;
  }
}

.input_info {
  text-align: right;
}

.charmap {
  i {
    display: inline-block;
    font-style: normal;
    padding: 5px;
    border: 1px solid #dddddd;
    margin: 4px;
    border-radius: 4px;
    cursor: pointer;
    width: 2em;
    text-align: center;
  }
}