@import '../../assets/variables';

.picker {
  display: flex;
  section {
    flex: 0.5;
  }
}
.action_title {
  display: flex;
  margin-bottom: 10px;
}
.parameters {
  flex: 1;
  padding-left: 8px;
}
.pipe_actions {
  button {
    margin-right: 8px;
  }
}
.pipe {
  display: flex;
  .actions {
    flex: 1;
    max-width: 100%;
    option {
      font-family: @font-mono;
    }
  }
}

.timestamp {
  position: absolute;
  right: 10px;
  color: @gui-grey-border;
}