# 404 fallback
<ifModule mod_rewrite.c>
    # Rewrite /api/* to /api.php
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^.*/api/.*$
    RewriteRule (.*) api.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule (.*) index.html [QSA,L]
</ifModule>

# GZip
<ifModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript
</ifModule>

# Cache-Control
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|webp)$">
    <IfModule mod_headers.c>
        Header set Cache-Control "max-age=2628000, public"
    </IfModule>
</filesMatch>
<filesMatch "service-worker\.js$">
  ExpiresDefault "now"
  FileETag None
  <ifModule mod_headers.c>
      Header unset ETag
      Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
      Header set Pragma "no-cache"
      Header set Expires "Sat, 01 Jan 2000 00:00:00 GMT"
  </ifModule>
</filesMatch>