@import '../../assets/variables';

.error, .error:focus-within {
  border-color: red;
}

.bases {
  a {
    flex-basis: 25%;
  }
}

.wrap {
  display: flex;
  max-width: 560px;
}

.number {
  flex-grow: 1;
}
.base {
  display: inline-block;
  width: 90px;
}