.error, .error:focus-within {
  border-color: red;
}
.float {
  float: right;
}
.big {
  font-size: 28px;
}
.bold {
  font-size: 30px;
  font-weight: bolder;
}
.buttons {
  margin-bottom: 30px;
}