@import '../../assets/variables';

.header {
  color: crimson;
  padding: 8px;
  border-bottom: 1px solid @gui-grey-border;
}
.payload {
  color: mediumorchid;
  padding: 8px;
  border-bottom: 1px solid @gui-grey-border;
}
.sig {
  color: dodgerblue;
  padding: 8px;
}
.valid {
  background-color: #efffef !important;
}
.error {
  background-color: #ffefef !important;
}

.jwt {
  padding: 0;
}