.b {
  padding-top: 20px;
}
.actions {
  padding-bottom: 20px;

  button {
    margin-right: 6px;
    margin-bottom: 4px;
  }
}
.flags {
  padding: 20px;
}
.output_table {
  empty-cells: show;

  border-collapse: collapse;
  table-layout: fixed;
  padding: 0;

  td:first-of-type {
    color: silver;
    text-align: right;
    width: 40px;
    padding-right: 8px;
  }

}
.i {
  background-color: #80ff80
}
.d {
  background-color: #ff8080
}