@import '../assets/global';

.app {
  width: 100vw;
  height: 100vh;

  display : flex;
  flex-direction: column;
}

.header {
  height: @gui-header-height;
  line-height: @gui-header-height;

  font-size: 24px;
  color: @gui-header-foreground;
  background: @gui-header-background;

  a, a:active, a:visited, a:hover {
    margin-left: 10px;
    color: @gui-header-foreground;
    font-weight: bold;
    text-decoration: none;
  }
}

.main {
  flex: 1;
  flex-direction: row;
  display : flex;
  position: relative;
}

.nav {
  width: @gui-nav-width;
  height: 100%;
  background: @gui-nav-background;
  a {
    color: @gui-nav-foreground;
    text-decoration: none;
    display: block;
    width: @gui-nav-width;
    height: @gui-nav-width;
    line-height: @gui-nav-width;
    text-align: center;
    cursor: pointer;
    &:hover, &.active {
      background-color: rgba(255,255,255,0.3);
    }
  }
}

.article {
  flex: 1;
}