@import '../assets/global';

.app {
  width: 100vw;
  height: 100vh;

  display : flex;
  flex-direction: row;
}

.nav {
  width: 0;
  transition: width 300ms ease-in-out;
  height: 100%;
  color: rgba(255,255,255,0.5);
  background: @gui-nav-background;
  overflow: hidden;
  position: absolute;
  z-index:998;

  .menu {
    background: url(../assets/icons/ic_menu_white_48px.svg) no-repeat;
    background-size: cover;
  }

  .menuitem {
    color: @gui-nav-foreground;
    text-decoration: none;
    display: block;
    width: @gui-nav-width;
    height: @gui-nav-item-height;
    line-height: @gui-nav-item-height;
    cursor: pointer;
    padding-left: 20px;
    border-left: 4px solid transparent;
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
    &.active {
      background-color: rgba(255,255,255,0.2);
      border-left: 4px solid white;
    }
  }

  > p {
    display: none;
    margin: 40px 20px 0 20px;
    font-family: monospace;
    @media (min-width: @screen-desktop-min) {
      display: block;
      position: relative;
      width: @gui-nav-width;
    }
  }

  @media (min-width: @screen-desktop-min) {
    position: relative;
    width: @gui-nav-width;
  }
  &.open {
    width: @gui-nav-width;
  }
}

.logo {
  display: block;
  background: url(../assets/devek_text_white.svg) no-repeat;
  background-size: contain;
  width: 110px;
  height: 30px;
  margin: 15px 20px 16px 65px;

  @media (min-width: @screen-desktop-min) {
    margin: 16px 16px 36px;
    width: 140px;
    height: 38px;
  }
}

.main {
  flex: 1;
  flex-direction: column;
  display : flex;
  position: relative;
  max-width: 100%;
}

.overlay {
  z-index: 997;
  opacity: 0.5;
  background-color: black;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  @media (min-width: @screen-desktop-min) {
    display: none;
  }
}

.menu {
  position: absolute;
  top: 14px;
  left: 12px;
  width: 34px;
  height: 34px;
  cursor: pointer;
  @media only screen and (min-width: @screen-desktop-min) {
    display: none;
  }
}

.menu {
  background: url(../assets/icons/ic_menu_black_48px.svg) no-repeat;
  background-size: cover;
}

.header {
  background: white;
  height: @gui-header-height;
  font-family: monospace;
  font-size: 24px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid @gui-grey-border;

  &:empty {
    border-bottom: none;
  }

  .description {
    margin-left: 54px;
    font-size: 18px;
    opacity: 0.5;
    @media only screen and (min-width: @screen-desktop-min) {
      margin-left: 20px;
    }
  }
}

.article {
  flex: 1;
  height: 100%;
  overflow: auto;

  > div {
    padding: 10px;
    width: 100%;
    background: white;
    @media only screen and (min-width: @screen-desktop-min) {
      width: fit-content;
      min-width: 75%;
      padding: 20px;
      margin: 20px;
      box-shadow: 0 0 16px rgba(0,0,0,.2);
    }
  }

  h1 {
    color: @gui-card-left-border;
    padding: 0 0 10px;
    margin: 20px 0 16px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid @gui-card-header-border;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }
}