@import '../assets/global';

.app {
  width: 100vw;
  height: 100vh;

  display : flex;
  flex-direction: column;
}

.header {
  height: @gui-header-height;
  line-height: @gui-header-height;

  font-size: 24px;
  color: @gui-header-foreground;
  background: @gui-header-background;

  .menu {
    position: absolute;
    top: 14px;
    left: 12px;
    background: url(../assets/icons/ic_menu_black_48px.svg) no-repeat;
    width: 34px;
    height: 34px;
    background-size: cover;
    cursor: pointer;
    @media only screen and (min-width: @screen-mobile-min) {
      display: none;
    }
  }

  a, a:active, a:visited, a:hover {
    margin-left: 54px;
    color: @gui-header-foreground;
    font-weight: bold;
    text-decoration: none;
    @media only screen and (min-width: @screen-mobile-min) {
      margin-left: 10px;
    }
  }
}

.main {
  flex: 1;
  flex-direction: row;
  display : flex;
  position: relative;
}

.nav {
  width: 0;
  transition: width 300ms ease-in-out;
  height: 100%;
  background: @gui-nav-background;
  overflow: hidden;
  position: absolute;
  z-index:9999;
  a {
    color: @gui-nav-foreground;
    text-decoration: none;
    display: block;
    width: @gui-nav-width;
    height: @gui-nav-item-height;
    line-height: @gui-nav-item-height;
    cursor: pointer;
    padding-left: 20px;
    &:hover, &.active {
      background-color: rgba(255,255,255,0.3);
    }
  }

  @media (min-width: @screen-mobile-min) {
    position: relative;
    width: @gui-nav-width;
  }
  &.open {
    width: @gui-nav-width;
  }
}

.article {
  flex: 1;
  height: 100%;
  overflow: auto;
}