@import '../assets/variables';

.card {
  position: relative;
  background: @gui-card-background;
  border-radius: 6px;
  border-left: 3px solid @gui-card-left-border;
  margin-bottom: 20px;
  padding: 0 20px 20px;

  h1 {
    margin: 0 0 20px;
    padding: 20px 0;
    font-size: 18px;
    font-weight: normal;
    border-bottom: 2px solid @gui-card-header-border;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }
}
