@import '../assets/variables';

.card {
  /*
  position: relative;
  background: @gui-card-background;
  border-radius: 6px;
  border-left: 3px solid @gui-card-left-border;
  margin-bottom: 20px;
  padding: 0 20px 20px;
  */
  padding-top: 20px;
  h1 {
    color: @gui-card-left-border;
    padding: 0 0 10px;
    margin: 0 0 16px;
    font-size: 16px;
    font-weight: normal;
    border-bottom: 2px solid @gui-card-header-border;
  }

  label {
    display: block;
    margin-bottom: 6px;
  }
}
