@import '../assets/variables';

.page {
  padding: 20px;
  text-align: center;
}

.wrap {
  max-width: 400px;
  margin: 0 auto;
}

.item {
  color: @color-grey900;
  display: inline-block;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: white;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  margin-right: 20px;
  margin-bottom: 20px;
}