@import '../assets/variables';

.page {
  padding: 20px;
  text-align: center;
}

.wrap {
  max-width: 468px;
  margin: 0 auto;
}

.item {
  float: left;
  color: @gui-foreground-color;
  display: inline-block;
  width: 136px;
  height: 140px;
  word-break: break-word;
  text-align: center;
  background: white;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.1);
  margin-right: 20px;
  margin-bottom: 20px;
  &:hover {
    background: #f2f2f2;
  }
  h3 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
a:focus .item {
  background: #f2f2f2;
}

.searchbox {
  margin-right: 18px;
}