@import '../../assets/variables';

.textarea {
  background: @gui-textarea-background;
  border: 1px solid @gui-grey-border;
  border-radius: 5px;
  min-height: 4em;
  margin: 0;
  padding: 8px;
  outline: none;
  width: 100%;
  white-space: pre-wrap;
  overflow: auto;
  margin-bottom: 10px;

  &:focus {
    border-color: @gui-secondary-color;
  }
  &.error:focus {
    border-color: red;
  }
  &.readonly, &.disabled {
    background: @gui-textarea-readonly-bg;
  }
}