//@import '~html-material-css/less/material.less';

@material-font: 16px Roboto, Ubuntu, "Segoe UI", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;
@material-shadow: 2px 2px 4px rgba(0, 0, 0, .4);

html, body, input, textarea, keygen, select, option, button {
  font: @material-font;
}

@color-grey300:#e0e0e0;
@color-grey600:#757575;
@color-grey900:#212121;

@gui-foreground-color: @color-grey900;
@gui-background-color: @color-grey300;

@gui-header-height: 60px;
@gui-header-background: #333;
@gui-header-foreground: @color-grey300;

@gui-nav-width: 60px;
@gui-nav-background: lighten(@gui-header-background, 5%);
@gui-nav-foreground: @color-grey300;

@gui-bottom-tool-height: 300px;