@import './variables';

* {
  box-sizing : border-box;
}

:global {

  .emoji {
    font-family: @emoji-font-family;
  }
}

html, body {
  margin: 0;
  padding: 0;
  background: @gui-background-color;
  color: @gui-foreground-color;
}

html, body, input, textarea, keygen, select, option, button {
  font: @native-font;
}

code {
  background-color: #f0f0f0;
}

::placeholder {
  color: #bbbbbb;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.5);
  border-radius: 4px;
}
::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background-color: transparent;
}

/* range */

input[type=range] {
  -webkit-appearance: none;
  margin: 0 10px;
  &:focus {
    outline: none;
  }
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #cccccc;
}
input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: @gui-secondary-color;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9d9d9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #cccccc;
}
input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: @gui-secondary-color;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bfbfbf;
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
}
input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: @gui-secondary-color;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9d9d9;
}

button {
  background: @gui-primary-color;
  width: auto;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 6px;
  padding: 8px 10px;
  font-size: 1em;
  font-weight: 400;
  transition: box-shadow 0.2s;
  outline: none;
  position: relative;
  &:hover, &:active, &:focus {
    background: lighten(@gui-primary-color, 30%);
  }
}
