//@import '~html-material-css/less/colors';

@native-font: 16px Roboto, Ubuntu, "Segoe UI", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

@emoji-font-family: "Apple Color Emoji","Segoe UI Emoji","NotoColorEmoji","Segoe UI Symbol","Android Emoji","EmojiSymbols",sans-serif;

@screen-desktop-min: 768px;

@gui-foreground-color: #303030;
@gui-background-color: #f3f5f9;

@gui-grey-border: #cccccc;

@gui-primary-color: #5500aa;

@gui-header-height: 60px;
@gui-header-background: #5500aa;
@gui-header-foreground: white;

@gui-togglebar-background: @gui-header-background;

@gui-card-background: white;
@gui-card-left-border: @gui-primary-color;
@gui-card-header-border: #eeeeee;

@gui-nav-width: 200px;
@gui-nav-item-height: 40px;
@gui-nav-background: linear-gradient(to bottom, @gui-primary-color 0%, @gui-primary-color 33%, #5050ff);
@gui-nav-foreground: white;

@gui-bottom-tool-height: 300px;

@gui-textarea-background: #fdfdfd;
@gui-textarea-readonly-bg: #f6f6f6;