@native-font: 16px Roboto, Ubuntu, "Segoe UI", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

@font-mono: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;

@screen-desktop-min: 768px;

@gui-foreground-color: #303030;
@gui-background-color: #f3f5f9;

@gui-grey-border: #cccccc;

@gui-primary-color: #5500aa;
@gui-secondary-color: #0055aa;
@gui-third-color: #5050ff;

@gui-header-height: 60px;
@gui-header-background: @gui-primary-color;
@gui-header-foreground: white;

@gui-togglebar-background: @gui-secondary-color;

@gui-radio-background: #cccccc;

@gui-button-disabled: #dddddd;

@gui-card-background: white;
@gui-card-left-border: @gui-primary-color;
@gui-card-header-border: #eeeeee;

@gui-nav-width: 200px;
@gui-nav-item-height: 40px;
@gui-nav-background: linear-gradient(to bottom, @gui-primary-color 0%, @gui-primary-color 33%, @gui-third-color);
@gui-nav-foreground: white;

@gui-bottom-tool-height: 300px;

@gui-textarea-border: @gui-secondary-color;
@gui-textarea-background: #fdfdfd;
@gui-textarea-readonly-bg: #f6f6f6;

@gui-search-item-hover: #e2e2e2;
@gui-search-item-active: #f2f2f2;
