@native-font: 16px Roboto, Ubuntu, "Segoe UI", -apple-system, BlinkMacSystemFont, system-ui, sans-serif;

@font-mono: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;

@screen-desktop-min: 768px;

@gui-foreground-color: #303030;
@gui-background-color: #f3f5f9;

@gui-text-light-color: #575757; // set by accessibility test
@gui-grey-border: #cccccc;

@gui-primary-color: #5500aa;
@gui-primary-dark: darken(@gui-primary-color, 25%);
@gui-secondary-color: #1a1897;

@gui-header-height: 54px;
@gui-header-background: @gui-primary-color;
@gui-header-foreground: white;

@gui-togglebar-background: @gui-secondary-color;

@gui-radio-background: #cccccc;

@gui-button-disabled: #dddddd;
@gui-button-disabled-text: #444444;

@gui-card-background: white;
@gui-card-left-border: @gui-primary-color;
@gui-card-header-border: #eeeeee;
@gui-card-color: white;
@gui-card-shadow: 3px 3px 11px rgba(0,0,0,.1);

@gui-nav-width: 240px;
@gui-nav-item-height: 54px;
@gui-nav-item-padding: 10px;

@gui-nav-background: linear-gradient(130deg, @gui-primary-color, darken(@gui-primary-color, 20%)); //linear-gradient(130deg, #50a 0%, #3858c2 50%, #50a); // @gui-primary-dark;
@gui-nav-foreground: rgba(250,250,250,0.7);
@gui-nav-selected: white;
@gui-nav-hover-color: rgba(255,255,255,0.2);

@gui-textarea-border: @gui-secondary-color;
@gui-textarea-background: #fdfdfd;
@gui-textarea-readonly-bg: #f6f6f6;

@gui-search-item-hover: #e2e2e2;
@gui-search-item-active: #f2f2f2;
