<!DOCTYPE html>
<html lang="en">
<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-DYFLGNJG3Z"></script>
  <script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag('js',new Date());gtag('config','G-DYFLGNJG3Z');</script>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Cache-Control" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" />
  <meta name="HandheldFriendly" content="true" />
  <title>Devek</title>
  <meta name="description" content="Developer Kit" />
  <meta name="author" content="Eli Sherer" />
  <link rel="canonical" href="https://devek.app/" />

  <meta property="og:title" content="Devek" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="https://devek.app/favicon/og.png" />
  <meta property="og:url" content="https://devek.app/" />
  <meta property="og:site_name" content="Devek" />
  <meta property="og:description" content="Developer Kit" />
  <meta property="og:locale" content="en_US" />

  <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png"/>
  <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png"/>
  <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png"/>
  <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png"/>
  <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png"/>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="msapplication-TileColor" content="#5500aa"/>
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png"/>
  <meta name="theme-color" content="#5500aa" />
</head>
<body>
  <div id="root">
  </div>
</body>
<noscript>Your browser does not support JavaScript!</noscript>
</html>
