<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="Cache-Control" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="HandheldFriendly" content="true" />
  <title>Devek</title>
  <meta name="description" content="Developer Toolkit">
  <meta name="author" content="Eli Sherer">
  <link rel="canonical" href="https://devek.app/">

  <meta property="og:title" content="Devek">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://devek.app/assets/og.png">
  <meta property="og:url" content="https://devek.app/">
  <meta property="og:site_name" content="Devek">
  <meta property="og:description" content="Developer Toolkit">
  <meta property="og:locale" content="en_US">

  <meta name="theme-color" content="#4527a0">
</head>
<body>
</body>
</html>