@import '../../assets/variables';

.toolbar {
  padding: 4px;
  @media (min-width: @screen-desktop-min) {
    padding: 20px;
  }
}

.hint {
  display: none;
  @media (min-width: @screen-desktop-min) {
    display: block;
    position: absolute;
  }
}
.canvas_wrapper {
  position: relative;
  @media (min-width: @screen-desktop-min) {
    margin: 0 20px;
  }
}

.color {
  border: 2px solid #ddd;
  padding: 5px;
  border-radius: 4px;
  margin-left: 5px;
  width: 24px;
  height: 24px;
  display: inline-flex;
  .loaded & {
    border-color: black;
  }
}
.inline {
  max-width: 90px;
  display: inline-block;
  margin-bottom: 0; // disable textbox bottom margin
}