@import '../../assets/variables';

.page {
  padding: 20px;
  margin: 0 auto;
  max-width: 800px;
}

.tabs {
  padding: 10px 0 20px;
  a {
    color: @gui-foreground-color;
    text-decoration: none;
    display: inline-block;
    padding: 8px 14px;
    font-size: 14px;
    border-bottom: 2px solid @gui-card-header-border;
    &.active {
      color: @gui-primary-color;
      border-bottom: 2px solid @gui-primary-color;
    }
  }
}

.error {
  color: red;
}