@import '../../assets/variables';

.error {
  color: red;
}

.options {
  div {
    flex-basis: 20%;
  }
}
.options2 {
  div {
    flex-basis: 30%;
  }
}
.input_info {
  text-align: right;
}

.actions {
  padding-bottom: 10px;
  button {
    margin-right: 6px;
    margin-bottom: 4px;
  }
}

.note {
  padding: 6px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

.long_output {
  max-width: 728px;
}

.dropbox {
  border: 2px dashed #888;
  padding: 20px;
}
.dragging {
  border-color: #333;
}