@import '../../assets/variables';

.upload {
  display: inline-block !important;
  text-decoration: underline;
  font-weight: bold;
  cursor: pointer;
}

.error {
  color: red;
}

.options {
  div {
    flex-basis: 20%;
  }
}
.options2 {
  div {
    flex-basis: 30%;
  }
}
.input_info {
  text-align: right;
}

.actions {
  padding-bottom: 10px;
  button {
    margin-right: 6px;
    margin-bottom: 4px;
  }
}

.note {
  padding: 6px;
  border: 1px solid #dddddd;
  background-color: #eeeeee;
  margin-bottom: 20px;
}

.long_output {
  max-width: 728px;
}

.dragging {
  border-color: @gui-secondary-color;
}